<div class="page-header">
  <h1>
    Users
      <div class="pull-right">
        <%= link_to "Create User", new_user_path, class: "btn btn-primary" %>
      </div>
  </h1>
</div>

<table class="table">
  <thead>
    <tr>
      <th><h4>Name</h4></th>
      <th><h4>Email</h4></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= link_to "#{user.first_name} #{user.last_name}", user_path(user) %></td>
        <td>
          <% if current_user == user %>
            <%= mail_to user.email %>
          <% end %>
        </td>
        <td>
          <div class="pull-right">
            <%= link_to 'Edit', edit_user_path(user) %>
          </div>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
