<h1>Frequently Asked Questions</h1>
<br>
<div class="row">
  <div class="col-md-8">
    <% @faqs.each do |faq| %>
      <h4><%= faq.question %></h4>
      <p><%= faq.answer %></p><br>
    <% end %>
  </div>
</div>
